.auth-page {
  overflow-x: hidden;
  .sign-form {
    width: 100%;
    max-width: 380px;
    transition: all 0.3s ease-out;
    position: relative;
    margin: auto;

    &.display-enter {
      opacity: 0;
      transform: translateX(-1000px);
    }
    &.display-enter-active {
      opacity: 1;
      transform: translateX(0);
    }
    .title,
    .subtitle {
      text-align: center;
    }

    .buttons {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 0 -5px;
    }
  }
  .switch-signin-signup-button {
    display: block;
    margin: 1rem auto;
    color: #4285f4;
    border: none;
    background-color: transparent;
    &:hover,
    &:active,
    &:focus {
      background-color: transparent;
      color: #4285f4;
      border: none;
      outline: none;
    }
    .dissabled {
      color: #a5a3a3;
    }
  }
}
