.menu-btn-mobile {
  cursor: pointer;
  transition: all 0.3s ease-out;
  .btn-line {
    background: #a5a3a3;
    width: 28px;
    height: 4px;
    margin-bottom: 5px;
    &:last-child {
      margin: 0;
    }
    transition: all 0.3s ease-out;
  }
  &:hover {
    .btn-line {
      background-color: black;
    }
  }
  &.active {
    transform: rotate(180deg);
    .btn-line {
      background-color: black;
      &:nth-child(1) {
        transform: rotate(45deg) translate(7px, 5px);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        transform: rotate(-45deg) translate(8px, -5px);
      }
    }
  }
  @media all and (min-width: 481px) {
    display: none;
  }
}
